# Database Schema

                                               Enzyme Database
   
   
                    
              Main Tables:          |Table: genes |    |Table: enzymes|    |Table: pathways| 
                                             \           /        \             / 
                                              \         /          \           / 
              Associative Tables:    |Table: gene-to-enzyme|    |Table: enzyme-to-pathway| 
                                                                            |
                                                                            |
                                                             |Table: pathway-to-enzyme ordered|

### The above is only a very basic scheme which does not describe the types of relationship between the tables

### Import SQlite and set it up

In [30]:
import sqlite3

conn = sqlite3.connect('my.db')
c = conn.cursor()

# Creating the tables

### Let's create and populate the enzyme table first

In [ ]:
#c.execute("""DROP TABLE enzymes;""")

c.execute("""CREATE TABLE enzyme (ecn INT PRIMARY KEY ASC, name TEXT, 
                                  function TEXT);""")

In [38]:
#c.execute("""DROP TABLE genes;""") 
c.execute("""CREATE TABLE genes (id INT PRIMARY KEY ASC, name TEXT, 
                                description TEXT, chromosome TEXT,
                                dna_seq TEXT,
                                start INT, end INT,
                                strand VARCHAR(1));""")

### Creating the pathways table is easy since we know what they are. The descriptions are all taken from Wikipedia

In [44]:
#c.execute("""DROP TABLE pathways;""")

c.execute("""CREATE TABLE pathways (id INT PRIMARY KEY ASC,
                                    name TEXT, description TEXT);""")

c.execute("""INSERT INTO pathways VALUES (1 , "Glycolysis", "The oxidative breakdown of one glucose into two pyruvate with the capture of some energy as ATP and NADH");""")
c.execute("""INSERT INTO pathways VALUES (2, "Citric Acid Cycle", "Releases stored energy through the oxidation of acetyl-CoA derived from carbohydrates, fats, and proteins into adenosine triphosphate (ATP) and carbon dioxide");""")
c.execute("""INSERT INTO pathways VALUES (3 , "Pentose Phosphate Cycle", "Generates NADPH and pentoses (5-carbon sugars) as well as ribose 5-phosphate, the last one a precursor for the synthesis of nucleotides");""")

conn.commit()

In [ ]:
#c.execute("""DROP TABLE gene_to_enzyme;""")

c.execute("""CREATE TABLE gene_to_enzyme (gene_id INT PRIMARY KEY ASC,
                                          enzyme_ecn INT);""")

In [ ]:
#c.execute("""DROP TABLE enzyme_to_pathway;""")

c.execute("""CREATE TABLE enzyme_to_pathway (enzyme_ecn INT PRIMARY KEY ASC,
                                              pathway_id INT);""")

In [42]:
#c.execute("""DROP TABLE pathway_ordered;""")

c.execute("""CREATE TABLE pathway_ordered (pathway_id INT PRIMARY KEY ASC,
                                               enzyme_order INT);""")